.white {
    color: $white;
}

.bg-white {
    background-color: $white;
}

.black {
    color: $black;
}

.bg-black {
    background-color: $black;
}

.pink {
    color: $pink;
}

.bg-pink {
    background-color: $pink;
}

.yollow {
    color: $yollow;
}

.bg-yollow {
    background-color: $yollow;
}