.teams {
    background-image: url(../img/team-bg.png);
    background-size: auto 350px;
    background-repeat: no-repeat;
    background-position: bottom;
    //    padding-bottom: 50px;
    margin-bottom: 50px;

    img {
        width: 100%;
        height: 100%;
    }
}