$white: #ececec;
$black: #222222;
$lightBlack: #555555;
$yollow: #ffca28;
$left-c: rgba(255, 202, 40, 0.8); // opacity 0.8
$pink: #ff4280;
$right-c: rgba(255, 66, 128, 0.8); // opacity 0.8
$pink-o: rgba(255, 66, 128, 0.5); // opacity 0.5


$grad: linear-gradient(to right, $left-c, $right-c);